#SignInComponent {
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.card{
    padding-top: 50px;
    padding-bottom: 100px;
}

.form-control{
    margin-bottom: 10px;
}